# Simple configuration for an HTTP proxy listening on port 80 on all
# interfaces and forwarding requests to a single backend "servers" with a
# single server "server1" listening on 127.0.0.1:8000

global
    daemon
    maxconn 256
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend https-in
    mode tcp
    bind *:443 ssl crt tls.crt alpn h2,http/1.1
    default_backend servers

backend servers
    mode tcp
    server server1 localhost:8100 maxconn 32

